.sss-img-latex {
  position: absolute;
  z-index: 9999;
  font-size: 0;
}

.sss-none-select, .sss-none-select * {
  user-select: none;
}

latex-popover {
  position: absolute;
  background: #fff;
  border: 1px solid;
  border-color: var(--gpts-bg-darken3, rgba(0, 0, 0, .06));
  padding: 2px 4px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
  animation: fadein .3s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.latex-popover-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .latex-popover-btn {
    width: 20px;
    cursor: pointer;
    &:first-child {
      margin-right: 20px;
    }
  }
}